aside {width: 300px; background-color: lightblue; height: 100vh; left: 0px; position: fixed; top: 0;}
section {margin-left: 300px; background-color: lightgray; padding: 25px;}
iframe {margin-left: 300px;}